@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif; 
}

a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Intro Section */
#intro {
    background-color: blanchedalmond;
}

#intro h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text 0.5s ease forwards;
    animation-delay: 1s;
}

#intro h1:nth-child(1) {
    animation-delay: 1s;
}

#intro h1:nth-child(2) {
    animation-delay: 2s;
}

#intro h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: black;
    animation: text_reveal 1s ease;
    animation-delay: 0.3s;
}

#intro h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#intro h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#intro .cta {
    display: inline-block;
    padding: 10px 30px;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#intro .cta:hover {
    color: white;
    background-color: black;
}

#intro .intro {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

/* Work Experience Section */
#workexperience {}
#workexperience .workexperience {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#workexperience .section_name {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#workexperience .workexperience_heading p {
    font-size: 1.5rem;
    margin: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

#workexperience .workexperience_detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#workexperience .event {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

@keyframes text_reveal {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text {
    100% {
        color: white;
    }
}


