#div2

{font-family:"Franklin Gothic"; color:rgb(255,153,0);font-size: 50px;  }

#div3 {font-family: "Lucida Handwriting"; font-size: 28px;}
#div4 {font-family:"Franklin Gothic"; color:rgb(255,153,0); font-size: 50px; }
